<% extend PairwisePlugin::Helpers::ViewerHelper %>

<div id='pairwise_group_list_block_<%= pairwise_group.id %>' class="pairwise_group_menu_container" data-open-prompt="0">
  <%= render :partial => 'content_viewer/pairwise_group_menu', :locals => {:questions => questions} %>
	<div class="question container">
    <% if questions.blank? %>
      <span><%= _("Empty") %></span>
    <% else %>
      <% questions.each_with_index do |pairwise_content, index| %>
        <%= pairwise_group_content_body(index, pairwise_content) %>
      <% end %>
    <% end %>
	</div>
</div>

<script type="text/javascript">
// FIXME move to js file
jQuery(document).ready(function($){
	var block_id = '#pairwise_group_list_block_<%= pairwise_group.id %>';
	var block_element = $(block_id);
	var questions_arrows = $(block_id + ' .arrow');
	var questions_rows = $(block_id + ' .row');
	var questions_bodies = $(block_id + ' .pairwise_inner_body');
	questions_rows.click(function(){
		var current_open =  parseInt(block_element.attr('data-open-prompt'));
		var index_clicked = questions_rows.index(this);
		if(index_clicked != current_open){
			block_element.attr('data-open-prompt', index_clicked);
			$(questions_bodies[current_open]).slideToggle();
			$(questions_rows[current_open]).toggleClass("secondary");

			$(questions_bodies[index_clicked]).slideToggle();
			$(questions_rows[index_clicked]).toggleClass("secondary");
		}
	});
});
</script>
