<% extend PairwisePlugin::Helpers::ViewerHelper %>

<div id='pairwise_group_list_block_<%= pairwise_group.id %>' class="pairwise_group_menu_container" data-open-prompt="0">
  <div class="questions-menu clearfix">
    <span class="menu-icon">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </span>
    <span class="icon-label"><%= _('Select theme') %></span>
    <% if questions.count > 1 %>
      <div class="menu" style="display: none">
        <div class="label">
          <%= _('Select a specific theme below to vote on proposals:') %>
        </div>
        <div class="items">
          <% questions.each_with_index do |pairwise_content, index| %>
            <div class="item <%= pairwise_group_row_classes(index) %>">
              <%= pairwise_content.name %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
	<div class="question container">
    <% if questions.blank? %>
      <span><%= _("Empty") %></span>
    <% else %>
      <% questions.each_with_index do |pairwise_content, index| %>
        <%= pairwise_group_content_body(index, pairwise_content) %>
      <% end %>
    <% end %>
	</div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('.pairwise_group_menu_container .questions-menu .menu-icon').click(function() {
      $(this).siblings('.menu').toggle();
    });
    $('.pairwise_group_menu_container .questions-menu .items .row').click(function() {
      $('.pairwise_group_menu_container .questions-menu .menu').hide('fast');
    });
  });

// FIXME move to js file
jQuery(document).ready(function($){
	var block_id = '#pairwise_group_list_block_<%= pairwise_group.id %>';
	var block_element = $(block_id);
	var questions_arrows = $(block_id + ' .arrow');
	var questions_rows = $(block_id + ' .row');
	var questions_bodies = $(block_id + ' .pairwise_inner_body');
	questions_rows.click(function(){
		var current_open =  parseInt(block_element.attr('data-open-prompt'));
		var index_clicked = questions_rows.index(this);
		if(index_clicked != current_open){
			block_element.attr('data-open-prompt', index_clicked);
			$(questions_bodies[current_open]).slideToggle();
			$(questions_rows[current_open]).toggleClass("secondary");

			$(questions_bodies[index_clicked]).slideToggle();
			$(questions_rows[index_clicked]).toggleClass("secondary");
		}
	});
});
</script>
